*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#container {
    border: 10px solid red;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    height: 100vh;
   
    overflow: hidden;
    cursor: zoom-in;
  }
  img {
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }